<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Restful Booker API Tests">
    <listeners>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Parallel Tests" parallel="methods">
        <classes>
            <class name="tests.UpdateBookingApiTest"/>
            <class name="tests.GetBookingApiTest"/>
        </classes>
    </test>
</suite>